body,
* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    width: 960px;
    margin: 0 auto;
    padding: 20px 10px;
}

.titulo-bg {
    background: blue;
}

.titulo h1 {
    color: white;
}

.dados-cep label {
    display: block;
}

.dados-cep label {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 20px 0;
}

.dados-cep input {
    width: 350px;
    padding: 13px 15px;
    font-size: 1.2rem;
    letter-spacing: 2px;
    font-weight: bold;
    border: 1px solid silver;
    border-radius: 3px;
}

.dados-cep input:focus {
    outline: none;
    border: 1px solid blue;
    background: rgba(0, 0, 255, 0.05);
}

.dados-cep button {
    border: none;
    background: blue;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    padding: 15px 20px;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 20px;
    transition: .5s ease;
}

.dados-cep button:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 255, 0.3);
    transform: translate3d(0, -2px, 0);
}

.resultado-cep {
    margin-top: 20px;
    width: 500px;
}

.resultado-cep .saida-cep {
    color: blue;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.resultado-cep h3 {
    margin-top: 10px;
    /* font-weight: normal; */
}

.erro {
    color: rgb(255, 20, 71);
    font-weight: bold;
    margin-top: 10px;
}

.focus-erro {
    border: 1px solid rgb(255, 108, 140) !important;
    background: rgba(255, 20, 71, .05) !important;
}

footer {
    position: absolute;
    bottom: 40px;
    right: 40px;
}

footer p {
    font-weight: bold;
    font-size: 1.1rem;
}

a {
    text-decoration: none;
    color: blue;
    transition: .5s;
}

a:hover {
    letter-spacing: 2px;
}

@media(max-width: 700px) {
    .container {
        width: 90%;
        overflow: hidden;
    }

    .titulo-bg {
        width: 100%;
    }

    .dados-cep input {
        width: 100%;
    }

    .dados-cep button {
        margin-left: 0;
        margin-top: 20px;
    }

    .resultado-cep {
        margin-top: -10px;
    }

    .resultado-cep h3 {
        font-size: 1.1rem;
    }

    footer {
        display: none;
    }
}